a {
	color: #fff;
	text-decoration: none;
}

.top {
	align-items: center;
	background-color: #000;
	display: flex;
	justify-content: space-between;
	height: 60px;
	width: 98%;
	padding: 10px;

	.menu {
		width: 100%;
		color: #fff;
		display: flex;
		justify-content: space-between;
		text-transform: uppercase;

		.title {
			font-size: 18px;
			font-weight: 800;
		}
		.options { font-size: 12px }
	}

}